{% extends "admin/adminhome.html" %}

{% block content %}

<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }
</style>
<div class="m-5">
    <div class="row">
        <div class="col-6">
        <h3 class="text_info">covertype list</h3>
    </div>
    <div class="col-6 text-end">
       <a href="{% url 'add_cover' %}" class="btn btn-dark">+ Create New CoverType</a>
    </div>
</div>
<div class="border mt-2 p-3">
    <table class="table table-striped">
        {% if ca %}
        <thead style="background-color:#80808078;">
            <tr>
               <th>covertype name</th> 
               <th></th>
               <th></th>
            </tr>
        </thead>
        <tbody>
            {% for c in ca %}
            <tr>
                <td>{{c.covertype}}</td>
                <td class="text-end"><a href="{% url 'edit_co' c.id %}"><i class="fa fa-edit"
                    style="font-size:35px;color: rgb(89, 238, 89);"></i></a></td>
                <td><a href="{% url 'delete_co' c.id %}"><i class="fa fa-trash" style="font-size:35px"></i></a></td>
            </tr>
            {% endfor %}  
           
        </tbody>
        {% else %}
        <p class="p-5">No Covertype  Exists</p>
        {% endif %}
    </table>




    <div class="pagination">
        {% if ca.has_previous %}
        <a href="?page={{ ca.previous_page_number }}">&laquo;</a>
        {% endif %}
    
        {% for num in ca.paginator.page_range %}
            {% if ca.number == num %}
                <a href="#" class="active">{{ num }}</a>
            {% elif num > ca.number|add:-5 and num < ca.number|add:5 %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        {% if ca.has_next %}
        <a href="?page={{ ca.next_page_number }}"> &raquo;</a>
        {% endif %}
    </div>
    
</div>
</div>
</div>
{% if messages %}
{% for message in messages %}
<script>
    alert('{{message}}')
</script>
{% endfor %}
{% endif %}
<br>
{{data}}
{% endblock %}



